<%= form_for(home) do |f| %>
  <% if home.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(home.errors.count, "error") %> prohibited this home from being saved:</h2>

      <ul>
      <% home.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name%>
    </p>
    <p>
      <%= f.label :owner %>
      <%= f.text_field :owner %>
    </p>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
