<p id="notice"><%= notice %></p>

<h1>Homes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Owner</td>
      <td>Actions</td>
    </tr>
    <% @homes.each do |home| %>
      <tr>
        <td><%= home.id %></td>
        <td><%= home.name %></td>
        <td><%= home.owner %></td>
        <td><%= link_to 'Show', home %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Home', new_home_path %>
