<p id="notice"><%= notice %></p>

<p>
  This is Information of Home named '<%= @home.name %>'. Whose owner is '<%= @home.owner %>'.
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Destroy', @home, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', homes_path %>
